<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能停车终端</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/Public/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <div class="aui-center">
            <span class="aui-center-title">智能停车终端</span>
        </div>
    </header>
    <section class="aui-scrollView">
        <div class="aui-drive-head">
            <div class="aui-flex">
                <div class="aui-drive">
                    <a href="__APP__/Home/Wap"><img src="/Public/img/user.png" alt=""></a>
                </div>
                <div class="aui-flex-box">
                    <h2>185****2894</h2>
                    <span>
						<em>普通会员</em>
						<em>未认证</em>
					</span>
                </div>
            </div>
        </div>
        <div class="aui-drive-box">
            <div class="aui-drive-list">
                <div class="aui-flex b-line">
                    <div class="aui-flex-box">
                        <h3>功能导航</h3>
                    </div>
                </div>
                <div class="aui-palace aui-palace-one">
                    <a href="__APP__/Home/Wap/reserve" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/Public/img/car-001.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>车位预定</h2>
                        </div>
                    </a>
                    <a href="__APP__/Home/Wap/record" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/Public/img/car-003.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>停车记录</h2>
                        </div>
                    </a>
                    <a href="__APP__/Home/Wap/bill" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/Public/img/car-004.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>账单记录</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="aui-drive-list">
                <div class="aui-flex b-line">
                    <div class="aui-flex-box">
                        <h3>我的钱包</h3>
                    </div>
                </div>
                <div class="aui-palace aui-palace-two">
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-text">
                            <h3>{$userInfo.blance}<em>元</em></h3>
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>用户余额</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-text">
                            <h3>{$userInfo.score}<em>分</em></h3>
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>用户积分</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-text">
                            <h3>2<em>张</em></h3>
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>优惠券</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-text">
                            <h3>1<em>张</em></h3>
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>信用卡</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-text">
                            <h3>未开通</h3>
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>会员账户升级</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="aui-drive-list">
                <a href="javascript:;" class="aui-flex b-line">
                    <div class="aui-cou-img">
                        <img src="/Public/img/fl-001.png" alt="">
                    </div>
                    <div class="aui-flex-box">
                        <h4>邀请有礼</h4>
                    </div>
                    <div class="aui-arrows">
                        <p></p>
                    </div>
                </a>
                <a href="javascript:;" class="aui-flex b-line">
                    <div class="aui-cou-img">
                        <img src="/Public/img/fl-002.png" alt="">
                    </div>
                    <div class="aui-flex-box">
                        <h4>常用信息</h4>
                    </div>
                    <div class="aui-arrows">
                        <p></p>
                    </div>
                </a>
                <a href="javascript:;" class="aui-flex b-line">
                    <div class="aui-cou-img">
                        <img src="/Public/img/fl-003.png" alt="">
                    </div>
                    <div class="aui-flex-box">
                        <h4>意见反馈</h4>
                    </div>
                    <div class="aui-arrows">
                        <p></p>
                    </div>
                </a>
                <a href="javascript:;" class="aui-flex">
                    <div class="aui-cou-img">
                        <img src="/Public/img/fl-004.png" alt="">
                    </div>
                    <div class="aui-flex-box">
                        <h4>客服中心</h4>
                    </div>
                    <div class="aui-arrows">
                        <p></p>
                    </div>
                </a>

            </div>
        </div>

    </section>
</section>
</body>

</html>
