<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能停车终端</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/Public/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title"></span>
        </div>
        <a href="javascript:;" class="aui-navBar-item"
           data-ydui-actionsheet="{target:'#actionSheet',closeElement:'#cancel'}">
            <i class="icon icon-news"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-drive-head">
            <div class="aui-flex">
                <div class="aui-drive">
                    <a href="__APP__/Home/Wap"><img src="/Public/img/user.png" alt=""></a>
                </div>
                <div class="aui-flex-box">
                    <h2>185****2894</h2>
                    <span>
						<em>普通会员</em>
						<em>未认证</em>
					</span>
                </div>
            </div>
        </div>
        <div class="aui-drive-box">
            <div class="aui-drive-list">
                <div class="aui-flex b-line">
                    <div class="aui-flex-box">
                        <h3>功能导航</h3>
                    </div>
                </div>
                <div class="aui-palace aui-palace-one">
                    <a href="__APP__/Home/Wap/reserve" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/Public/img/car-001.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>车位预定</h2>
                        </div>
                    </a>
                    <a href="__APP__/Home/Wap/record" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/Public/img/car-003.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>停车记录</h2>
                        </div>
                    </a>
                    <a href="__APP__/Home/Wap/bill" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/Public/img/car-004.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>账单记录</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="aui-drive-list">
                <a href="javascript:;" class="aui-flex b-line">
                    <div class="aui-flex-box" style="text-align: center">
                        <p>停车记录(仅显示最近十条)</p>
                    </div>
                </a>
                <a href="javascript:;" class="aui-flex b-line">
                    <div class="aui-cou-img" style="width: 50px;border-left: #17b7b7 4px solid;padding-left: 10px;">
                        序号
                    </div>
                    <div class="aui-flex-box aui-cou-img">
                        <p style="font-size: 16px;color: #666;text-align: center;height: 25px;margin-right: 0.5rem;">账单详情</p>
                    </div>
                </a>
                <volist name="recordInfo" id="recordInfo">
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-cou-img" style="text-align: center;padding-left: 25px;margin-right: 0.5rem;padding-top: 6px">
                            {$i}
                        </div>
                        <div class="aui-flex-box">
                            <p style="text-align: center">
                                <php>
                                    if($recordInfo['type']==1)
                                        echo "入库";
                                    else
                                        echo "出库";
                                </php>时间：&nbsp;&nbsp;{$recordInfo.time|date="Y-m-d H:i:s",###}
                            </p>
                        </div>
                        <div class="aui-arrows">
                            <p></p>
                        </div>
                    </a>
                </volist>
            </div>
        </div>
    </section>
</section>
</body>

</html>